@import "compass/reset", "mix", "main", "media";


body {
	font: normal 14px $font-ptSans; 
	color: $color-text;
	background: $color-white;
	min-width: 1200px;
}

section {
	position: relative;
	padding-top: 26px;
}

.base-button {
	color: $color-blue;
	border: 1px solid $color-blue;
	text-transform: uppercase;
	font: 12px $font-ptSans;
	padding: 10px 22px 10px 30px;
	text-align: center;
	display: inline-block;
	position: relative;
	@include border-radius(20px);

	&::before {
		content: " ";
		position: absolute;
		top: 10px;
		left: 12px;
		display: inline-block;
	}

	&:hover {
		border: 1px solid #eee;
		color: $color-blue;
		@include box-shadow(2px 2px 5px #ccc);
	}

	&:active { box-shadow: none; }
}

.container {
	max-width: 1140px;
	width: 97%;
	margin: 0 auto;
}

.header {
	padding-top: 50px;
	margin-bottom: 30px;
}

.header__logo {
	max-width: 232px;
	float: left;
}

.header__content {
	width: 856px;
	float: right;
}
.header__top {
	margin-bottom: 35px;
}

.header__menu {
	float: left;
	ul li {
		display: inline-block;
		& + li {
			margin-left: 30px;
		}
	}
	ul li a {
		font: 16px $font-ptSansNarrow;
		padding: 0 8px;
		display: block;
		padding-bottom: 2px;
		border-bottom: 2px solid transparent;

		&:hover {
			border-bottom: 1px solid $color-text;
		}
	}
}

.header__nav {
	margin-left: 8px;

	ul li {
		display: inline-block;
		& + li {
			margin-left: 60px;
		}

		a {
			text-transform: uppercase;
			border-bottom: 4px solid transparent;

			&:hover {
				color: $color-blue;
				border-bottom: 4px solid $color-blue;
			}
		}
	}
}

.header__backet {
	float: right;
	width: 280px;
	position: relative;
	top: -10px;
	.base-button {
		padding-left: 50px;
		font-size: 14px;
		float: left;

		&::before {
			background: url('../img/top/compare.png') 0 0 no-repeat;
			width: 18px;
			height: 19px;
			left: 20px;
		}
	}
}

.backet {
	float: right;
	position: relative;
	top: 8px;
	width: 90px;
	text-align: right;
	cursor: pointer;

	&:hover {
		color: $color-blue;
	}

	&:hover .backet__prompt {
			opacity: 1;
			@include transform(translateY(0));
			visibility: visible;
	}

}
.backet__img {
	width: 34px;
	left: 0;
	height: 30px;
	background: url('../img/top/backet.png') no-repeat;
	color: $color-white;
	position: absolute;
	.backet__sum {
		position: absolute;
		top: 0;
		left: 2px;
		width: 22px;
		text-align: center;
		display: inline-block;
	}
}

.backet__prompt {
	position: absolute;
    top: 66px;
    text-align: center;
    color: #fff;
    left: -100px;
    background: #000;
    min-width: 248px;
    @include border-radius(27px);
    padding: 20px;
    font-size: 20px;
    @include transform(translateY(40px));
	opacity: 0;
	@include transition(1s linear);
	z-index: 10;
	visibility: hidden;

    &::before {
    	content: " ";
    	position: absolute;
    	top: -20px;
    	left: 70%;
    	border-bottom: 20px solid #000;
    	border-left: 10px solid transparent;
    	border-right: 10px solid transparent;

    }
}

// entrance-door-wrapper  // entrance-door-wrapper  // entrance-door-wrapper

.enterance-door-wrapper {
	background: url('../img/top/bg.png') 117% -30px no-repeat; 
	@include background-size(54%);

	&::before {
		content: " ";
		background:  url('../img/shadow1.png') 0 64% no-repeat;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
	}

}

.bg-wrapper {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;

	&::after {
		content: " ";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		background: -webkit-linear-gradient(-90deg, #fff 20%, rgba(238,238,238, 0.7) 60%, #fff );
		background: -moz-linear-gradient(180deg, #fff 20%, rgba(238,238,238, 0.7) 60%, #fff );
		background: -ms-linear-gradient(180deg, #fff 20%, rgba(238,238,238, 0.7) 60%, #fff );
		background: linear-gradient(180deg, #fff 20%, rgba(238,238,238, 0.7) 60%, #fff );
		z-index: -1;
	}

}
.bg-lines {

	width: 600px;
	height: 336px;
	position: absolute;
	top: 200px;
	left: 0;
	background: url('../img/top/bg2.png') no-repeat;
	@include background-size(100%);
}

@media(max-width: 1920px) {
	.bg-lines {
		@include background-size(80%);
	}
}

@media(max-width: 1400px) {
	.bg-lines {
		@include background-size(60%);
	}
}

.enterance-door {
	margin-bottom: 70px;
}

h3 {
	font: 20px $font-ptSans;
	color: $color-gray;
}

.section-top-line {
	border-bottom: 1px solid #ccc;
	position: absolute;
	top: 0;
	left: 0;
	width: 560px;

	&::before {
		content: " ";
		position: absolute;
		top: -1.5px;
		left: 0;
		background: $color-blue;
		width: 72px;
		height: 4px;
		display: inline-block;
	}
}

.base-title {
	font: bold 26px $font-ptSansNarrow;
	text-transform: uppercase;
	color: $color-gray;
	letter-spacing: 1.5px;
}

.vizit-srandart {
	width: 460px;
	margin: 15px auto;  

	.base-button {
		margin-bottom: 10px;

		&::before { top: 12px; }
		
		&:nth-of-type(1)::before {
			background: url('../img/signs.png') 0 0 no-repeat;
			width: 6px;
			height: 13px;
			left: 17px;
		}

		&:nth-of-type(2)::before {
			background: url('../img/signs.png') -15px 0 no-repeat;
			width: 10px;
			height: 13px;
		}

		&:last-child { margin-bottom: 0; }
	}
}

.vizit-info {
	background: #fff;
	background: rgba(255,255,255, 0.8);
	position: relative;
	border-top: 3px solid $color-blue;
	border-bottom: 3px solid $color-blue;
	padding: 18px 0 24px 30px;
	margin-bottom: 12px;
	
	.before {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 18px;

		&::before { left: 0; }

		&::after { right: 0;}
	}

	&::before,
	&::after,
	.before::after,
	.before::before {
		content: " ";
		background: $color-blue;
		width: 3px;
		height: 18px;
		position: absolute;
	}

	&::before { top: 0; left: 0; }

	&::after { top: 0; right: 0; }
}

.vizit-img {
	display: block;
	margin-bottom: 16px;
}

.vizit-info__item {
	font: 20px $font-ptSansNarrow;
	display: inline-block;
	padding-left: 40px;
	margin-bottom: 40px;
	position: relative;

	&::before {
		content: " ";
		position: absolute;
		top: -10px;
		left: 0;
		display: inline-block;
		width: 36px;
		height: 40px;
		background: url('../img/standart.png') 0 0 no-repeat;
	}
	
	&:nth-of-type(1) {
		margin-right: 40px;
		&::before {
			background-position: 0 0;
		}
	}
	
	&:nth-of-type(2) {
		&::before {
			background-position: -40px 0;
		}
	}

	&:nth-of-type(3) {
		margin-bottom: 0;
		&::before {
			background-position: -87px 0;
		}
	}
}

.vizit__text {
	margin-bottom: 20px;
}

// privilege  // privilege   // privilege   // privilege  // privilege  // privilege  // privilege

.privilege {
	padding-bottom: 50px;
}

.p-column {
	text-align: center;
	margin: 50px 0 60px 0;
}

.p__item-wrap {
	width: 190px;
	margin: 0 42px;
	vertical-align: top;
	display: inline-block;

	&:nth-child(1) .p__item-img { background-position: -5px 6px; }
	&:nth-child(2) .p__item-img { background-position: -142px 6px; }
	&:nth-child(3) .p__item-img { background-position: -75px 6px; }
	&:nth-child(4) .p__item-img { background-position: -205px 6px; }

	&:nth-child(2) .p__item::before {
		left: -4px;
		top: -4px;
		background: url('../img/elipse-gost.png') no-repeat;
	}

	&:nth-child(2) .p__item-text { font-weight: bold; color: $color-blue; }
}

.p__item {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	border: 4px solid $color-white;
	@include border-radius(50%);
	position: relative;
	margin-bottom: 16px;

	&::before {
		content: " ";
		position: absolute;
		left: -4px;
		bottom: -4px;
		width: 75px;
		height: 75px;
		background: url('../img/elipse.png') no-repeat;
	}
}

.p__item-img {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 80px;
	vertical-align: middle;
	background: url('../img/plus.png') -5px 6px no-repeat;
}

.p__item-text {
	color: $color-gray;
	font: 18px $font-ptSansNarrow;
	letter-spacing: 1px;
}

//  BANER  ///  BANER  /// BANER /// BANER  ///  BANER 

.banner-move {
	float: left;
	width: 850px;
	height: 265px;
	overflow: hidden;
	background: #c5aa9c url('../img/banner.jpg') 0 -20px repeat-y;
	padding: 40px 46px 0 0;

	.banner__link {
		float: right;
		color: $color-blue;
		border-bottom: 1px solid $color-blue;
	}
}

.banner-move__text {
	float: right;
	max-width: 400px;
}

.banner__link {
	color: $color-white;
	font: bold 14px $font-ptSans;
	display: inline-block;
	border-bottom: 1px solid $color-white;
	padding-bottom: 2px;

	&:hover { color: $color-text; border-bottom: 1px solid $color-text; }
}

.banner-move__title {
	font: 24px $font-ptSansNarrow;
	text-transform: uppercase;
	color: $color-gray;
	margin-bottom: 20px;
	display: block;
}

.banner-move__descr { margin-bottom: 10px; }

.banner-reclame {
	width: 260px;
	height: 265px;
	background: $color-green url('../img/door-1.jpg') 0 0 no-repeat;
	float: right;
	padding: 16px 16px 0 0;
	overflow: hidden;
}

.banner-reclame__info {
	float: right;
	width: 118px;
	color: $color-white;
	font-size: 14px; 
}

.banner-reclame__title {
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid $color-white;
	display: block;
	padding-bottom: 24px;
	position: relative;
	margin-bottom: 24px;

	&::before {
		content: " ";
		position: absolute;
		top: -10px;
		left: 0;
		width: 35px;
		height: 35px;
		background: url('../img/select.png') 0 0 no-repeat;
		@include background-size(cover);
	}
}

.banner-reclame__text { font-weight: bold; }

.banner-reclame__date{ margin: 20px 0; }


//  interior-doors  //  interior-doors  //  interior-doors  //  interior-doors  //  interior-doors  //  interior-doors

.interior-doors {
	margin-bottom: 70px; 

	.base-title { margin-bottom: 18px; }
}

.catalog-link {
	color: $color-blue;
	font: bold 14px $font-ptSans;
	padding: 0 8px 2px 8px;
	border-bottom: 1px solid $color-blue;
	margin-bottom: 24px;
	display: inline-block;

	&:hover {
		color: $color-text;
		border-bottom: 1px solid $color-text;
	}

}

.interior__menu {
	float: left;
	width: 270px;

	ul li {
		display: block;


		&:nth-of-type(2) a::before,
		&:nth-of-type(4) a::before,
		&:nth-of-type(5) a::before {
			content: " ";
			position: absolute;
			top: 10px;
			right: 10px;
			width: 20px;
			height: 20px;
			background: $color-white url('../img/signs.png') no-repeat 8.5px 5px;
			border: 1px solid $color-blue;
			@include border-radius(50%);
			display: inline-block;
		}
	} 

	ul li a {
		display: block;
		padding: 10px 12px 10px 16px;
		font-size: 18px;
		width: 100%;
		transition: none;
		position: relative;

		&:hover {
			background: $color-blue;
			color: $color-white;
			font-weight: bold;

			&::after {
				content: " ";
			    position: absolute;
			    right: -10px;
			    top: 0;
			    border-left: 10px solid #2a97d7;
			    border-top: 22px solid transparent;
			    border-bottom: 22px solid transparent;
			}

		}

	}

}


/// Slider   /// Slider   /// Slider   /// Slider    /// Slider   /// Slider   /// Slider   /// Slider 


.interior__slider-wrap {
	width: 846px;
	float: right;
}

.slide-item {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	color: #000;
}

.interior__slider-wrap {

	.bx-wrapper .bx-viewport {
	    box-shadow: none;
	    border: none;
	    left: 0;
	}

	.bx-wrapper .bx-prev {
	    left: -48px;
	    background: url('../img/slider/arrows.png') no-repeat 0 0;

	    &:hover { background-position: 0 0; }
	}

	.bx-wrapper .bx-next {
	    right: -48px;
	    background: url('../img/slider/arrows.png') no-repeat -40px 0;

	    &:hover { background-position: -40px 0; }
	}

	.bx-wrapper .bx-controls-direction a {
		margin-top: -45px;
	}
}

.slide-item__img {
	width: 158px;
	height: 340px;
	position: relative;
	display: inline-block;
}

.slide-item__descr {
	display: block;
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	font: 16px $font-ptSansNarrow;
}

.price {
	color: $color-cherry;
	font: 14px $font-ptSansNarrow;
	text-decoration: line-through;
	margin-right: 20px;
}

.price-new {
	font: 20px $font-ptSansNarrow;
}



/// REVIEWS   // REVIEWS    // REVIEWS    // REVIEWS    // REVIEWS    // REVIEWS    // REVIEWS    // REVIEWS    // REVIEWS 

.reviews-box {
	//margin: 30px 0 10px 0;
}

.review-comments-box {
	float: left;
	width: 848px;
}

.review-comments {
	margin-top: 30px;
}

.review-form {
	float: right;
	width: 270px;
}

.review__item {
	width: 254px;
	margin-right: 36px;
	display: inline-block;
	vertical-align: top;

	&:last-child { margin-right: 0; }

	&:nth-child(1) .review__rating::after { width: 60%; }

	&:nth-child(2) .review__rating::after { width: 80%; }

	&:nth-child(3) .review__rating::after { width: 100%; }

}

.review__rating {
	margin: 10px 0;
	width: 105px;
	height: 20px;
	background: url('../img/star.png') repeat-x;
	position: relative;

	&::after {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background: url('../img/star-active.png') repeat-x;
	}
}

.form {
	margin-top: 30px;

	.border-blue textarea,
	.border-blue input {
		font: 16px $font-ptSansNarrow;
		background: transparent;
		padding: 15px;
		width: 100%;
		border: 1px solid #ccc;
	}
	.border-blue textarea {
		resize: none;
		height: 130px;
	}
	
	.border-blue input {
		height: 30px;
		margin-bottom: 3.5px;
	}
	.border-blue {
		position: relative;
		margin-bottom: 10px;

		&::before {
			content: " ";
			position: absolute;
			bottom: 2.5px; 
			left: 15px;
			width: 50px;
			height: 4px;
			display: block;
			background: $color-blue;
		}
	}

	.submit:focus {
		outline: none;
	}

	.base-button {
		background: transparent;
		width: 100%;
		text-align: center;
		font: bold 16px $font-ptSans;
		@include transition(0.5s);

		&:hover {
			background: $color-blue;
			box-shadow: none;
			color: $color-white;
		}
	}

}

.rating-form {
	display: block;
	height: 20px;
	margin-bottom: 16px;
}

.rating-form__item {
	display: inline-block;
	vertical-align: top;
	width: 21px;
	height: 20px;
	position: relative;
	background: url('../img/star.png') no-repeat;
	cursor: pointer;

	&.active {
		background: url('../img/star-active.png') no-repeat;
	}

}

/// //// ///// /////////////   /////         //////////////////

.pay { 
	margin-bottom: 60px; 
	
}

.bg-wrapper-rew {
	background: url('../img/shadow.png') 70% 49% no-repeat;
}

.choose-pay { margin-top: 30px; }

.pay__item {
	width: 112px;
	height: 112px;
	border: 2px solid $color-white;
	@include border-radius(50%);
	display: inline-block;
	vertical-align: top;
	line-height: 100px;
	text-align: center;
	margin-right: 24px;
	position: relative;

	&::before {
		content: " ";
		position: absolute;
		bottom: -3px;
		left: -4px;
		width: 56px;
		height: 56px;
		background: url('../img/while-elipse.png') no-repeat;
	}

	&:last-child { margin-right: 0; }

	&:nth-of-type(1) .pay__img { background-position: 0 0; }
	&:nth-of-type(2) .pay__img { background-position: -77px 0; }
	&:nth-of-type(3) .pay__img { background-position: -153px 0; }
	&:nth-of-type(4) .pay__img { background-position: -229px 0; }
	&:nth-of-type(5) .pay__img { background-position: -302px 0; }
}

.pay__img {
	display: inline-block;
	vertical-align: middle;
	width: 74px;
	height: 44px;
	background: url('../img/render.png') 0 0 no-repeat;

}

.shop-descr {
	padding-left: 296px;
	margin-top: 30px;
	height: 410px;
	background: url('../img/come-door.png') 0 0 no-repeat; 

	p + p { margin-top: 30px; }
}

/// Footer  /// Footer

footer { margin: 20px 0; }

.footer-menu { float: left; width: 834px; }
.footer-logo { float: right; }

.footer-menu__item {
	display: table-cell;
	width: 260px;
	vertical-align: top;

	&:last-child {margin-right: 0; }

	h4 {
		text-transform: uppercase;
		font: 16px $font-ptSansNarrow;
		margin-bottom: 16px;
	}

	ul li a {
		display: inline-block;
		padding: 0 8px 2px 8px;
		border-bottom: 1px solid #000;
		margin-bottom: 6px;

		&:hover { color: $color-gray; }
	}

}