.select_city {
	color: #666;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin: 5px 0 0 13px;
}

.tabs_content {
	display: none;
}

.tabs_content.active {
	display: block;
}

.city_tabs {
	margin: 12px 0 0 14px; 
}
.city_tabs_button {
	display: inline-block;
	color: #009900;
        font-size:13px;
	border: 1px solid  #009900;
	padding: 8px 10px;
}

.city_tabs_button.active {
	color: #fff;
	background: #ff4f12;
	border-color: #ff4f12;
	text-decoration: none;
}

.city_tabs_button:first-child {
	margin-right: 12px;
}

.row_flex {
    -webkit-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 26px 0 40px 14px;
}

.city_item {
	margin-bottom: 50px;
	width: 16.66666%;
}

.city_item_img {
	width: 90px;
	height: 54px;
	overflow: hidden;
}

.city_item_img img {
	width: 100%;
	height: auto;
}

.city_item_title {
        font-weight: 700;
        font-size:16px;
	color: #000;
	margin: 24px 0;
}

.city_item_list > li > a {
	font-size: 13px;
	color: #009900;
}
.city_item_list > li > a:hover {
    text-decoration: underline;
}
.city_item_list > li + li {
	margin-top: 8px;
}

.content_text {
	margin: 0 0 70px 14px;
}

.content_text_title {
        font-weight: normal;
        font-family: Georgia;
	font-size:18px;
	margin-bottom: 25px;
}

.content_text p {
	font-size:13px;
	line-height: 18px;
}

.content_text p + p {
	margin-top: 22px;
} 
.link_1 {
	margin-right: 210px;
} 
.basket {
	width: 188px;
}
.basket_price {
	height: 92px;
	width: 188px;
}
.city_basket .price {
	margin-top: 28px;

}
.basket .catalog_basket_tmd {
	z-index: 999;
}
.city_basket_tmd .basket_bss {
	right: 115px;
}
.city_basket_tmd .basket_btn {
	right: 115px;
	position: relative;
}
@media(max-width: 998px) {
	.city_item {
		margin-bottom: 50px;
		width: 33.33333%;
	}
}
@media only screen and (max-width: 991px) {
	.wrapper .block_1 .logo {
		margin-right: 25px;
	}
}
@media only screen and (max-width: 950px) {
	.basket_price {
		height: 87px;
	}
}
@media only screen and (max-width: 755px) {
	.city_basket .city_basket_price {
/*		z-index: 0;*/
	}
	.basket {
/*		z-index: 0;*/
	}
	.city_block_1 {
/*		z-index: 0;*/
	}
}
@media(max-width: 640px) {
	.city_basket_tmd .basket_bss {
		right: 115px !important;
	}
	.city_basket_tmd .basket_btn {
		right: 115px !important;
	}
	.item_bs_link {
    position: absolute;
    right: 0px;
    margin-right: 200px;
    margin-top: 14px;
    top: 0px;
    font-size:20px;
	}
	.city_item_title { font-size: 32px; }
	.city_item_list > li > a {
		font-size: 28px;
	}

	.city_tabs { margin-top: 30px;}

	.georgia_title_2 { font-size: 42px; }
	.select_city { font-size: 21px; }
	.row_flex { margin-top: 70px; }

	.city_item {
		margin-bottom: 50px;
		width: 50%;
	}
	.city_basket .basket_price img {
		float: left;
		margin-top: 29px;
	}
	.city_basket .basket_price p {
		margin-top: 36px;
		font-size: 17px;
	}
	.city_basket_tmd {
		
	}
}

@media(max-width: 580px) {
    .item_bs_link {

    margin-right: 174px;
    
	}
	.city_basket .city_basket_tmd .basket_bss {
		width: 279px;
	}
	.city_basket .city_basket_tmd .basket_bss h6 {
		font-size: 14px;
		margin-top: 2px;
		width: 96px;
	}
	.city_basket .city_basket_tmd .basket_bss p {
		margin-top: 1px;
	}
	.city_basket .city_basket_tmd .basket_btn {
		width: 279px;
	}
	.city_basket .basket_price img {
		margin-left: 10px;
	}
	.city_basket {width: 164px;}
	.city_basket .basket_price {
		width: 164px;
	}
	.city_item_title { font-size: 28px; }
	.city_item_list > li > a {
		font-size: 24px;
	}
}

@media(max-width: 480px) {
	.city_item_title { font-size: 16px; }
	.city_item_list > li > a {
		font-size: 14px;
	}

	.georgia_title_2 { font-size: 30px; }
	.select_city { font-size: 18px; }
	
} 
@media only screen and (max-width: 388px) {
	.city_basket {
		width: 150px;
	}
	.city_basket .basket_price {
		height: 80px;
		width: 150px;
	}
	.basket_price .price {
		float: left;
		margin-left: 10px;
		margin-right: 5px;
		margin-top: 25px;
	}
	.basket_price p {
		margin-top: 35px;
		font-size: 18px;
	}
}
@media only screen and (max-width: 380px) {
	.city_basket {
		width: 140px;
	}
	.city_basket .city_basket_price .price {
		height: 27px;
		width: 27px;
		margin-left: 6px;
	}
	.city_basket .basket_price {
		height: 80px;
		width: 140px;
	}
	.city_basket .city_basket_tmd .basket_bss {
		width: 255px;
	}
	.city_basket .city_basket_tmd .basket_btn {
		width: 255px;
	}
	.city_basket .city_basket_tmd .basket_btn button {
		font-size: 17px;
	}
}
@media(max-width: 360px) {
	.city_logo_item img {
		width: 90% !important;
	}
	.city_basket {
		width: 130px;
	}
	.city_basket .basket_price {
		height: 80px;
		width: 130px;
	}
	.city_item {
		width: 100%;
	}

	.city_item_title { font-size: 28px; }
	.city_item_list > li > a {
		font-size: 22px;
	}
	.city_basket .city_basket_tmd .basket_bss {
		width: 245px;
	}
	.city_basket .city_basket_tmd .basket_btn {
		width: 245px;
	}
}