/* line 1, ../sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 11, ../sass/_reset.scss */
html {
  line-height: 1;
  height: 100%;
}

/* line 16, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 20, ../sass/_reset.scss */
a img {
  border: none;
}

/* line 24, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media (max-width: 1280px) {
  /* line 2, ../sass/_media.scss */
  div.company-advants h3 {
    font-size: 16px;
    padding-left: 70px;
  }
  /* line 6, ../sass/_media.scss */
  div.company-advants h3 + h3 {
    margin-left: 20px;
  }

  /* line 8, ../sass/_media.scss */
  div.company-info {
    padding: 40px 20px 30px 40px;
  }
}
@media (max-width: 1180px) {
  /* line 14, ../sass/_media.scss */
  h2.box-item__title {
    font-size: 70px;
  }

  /* line 17, ../sass/_media.scss */
  div.box-item__links a {
    font-size: 14px;
  }

  /* line 21, ../sass/_media.scss */
  a.box-grig__cell {
    width: 33.33333%;
  }
}
@media (max-width: 1024px) {
  /* line 26, ../sass/_media.scss */
  div.company-info {
    float: none;
    width: 100%;
  }

  /* line 31, ../sass/_media.scss */
  div.box-item {
    width: 100%;
    float: none;
    height: 400px;
  }

  /* line 37, ../sass/_media.scss */
  div.slider-news-wrap {
    float: none;
    width: 100%;
  }

  /* line 42, ../sass/_media.scss */
  div.slider-news {
    width: 100%;
  }

  /* line 46, ../sass/_media.scss */
  div .section-title_h3 {
    font-size: 20px;
  }
}
@media (max-width: 960px) {
  /* line 50, ../sass/_media.scss */
  a.box-grig__cell {
    width: 50%;
  }

  /* line 54, ../sass/_media.scss */
  div.pagination {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }

  /* line 60, ../sass/_media.scss */
  div.list-local {
    float: none;
    margin: 0 auto;
  }

  /* line 64, ../sass/_media.scss */
  div .bg-banner {
    height: 400px;
  }

  /* line 65, ../sass/_media.scss */
  div .bg-title {
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  /* line 70, ../sass/_media.scss */
  div.container {
    display: block;
  }

  /* line 74, ../sass/_media.scss */
  div.header {
    width: 100%;
    padding-top: 20px;
    flex-shrink: 1;
  }

  /* line 80, ../sass/_media.scss */
  div.content {
    width: 100%;
  }

  /* line 83, ../sass/_media.scss */
  div nav {
    margin-bottom: 0;
    display: none;
    position: absolute;
    padding-top: 40px;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
  }
  /* line 93, ../sass/_media.scss */
  div nav.active {
    display: block;
  }
  /* line 95, ../sass/_media.scss */
  div nav .close {
    display: block;
  }

  /* line 99, ../sass/_media.scss */
  a.address {
    display: none;
  }

  /* line 101, ../sass/_media.scss */
  div.logo {
    float: left;
    padding: 0 0 10px 15px;
    margin: 0;
  }

  /* line 107, ../sass/_media.scss */
  div.icon-menu {
    display: block;
  }

  /* line 110, ../sass/_media.scss */
  div.submenu {
    position: static;
    width: 100%;
    background: #fff;
    padding: 20px 0 0 30px;
  }
  /* line 113, ../sass/_media.scss */
  div.submenu .submenu-block__item ul {
    min-height: auto;
  }
  /* line 115, ../sass/_media.scss */
  div.submenu h3 {
    font-size: 26px;
    color: #000;
  }
  /* line 117, ../sass/_media.scss */
  div.submenu li a {
    color: inherit;
    font-size: 18px;
    padding: 0;
    display: inline-block;
    border: none;
    margin: 0 0 10px 0;
    color: #000;
  }
  /* line 126, ../sass/_media.scss */
  div.submenu li a:hover {
    background: none;
    color: #6b1511;
  }

  /* line 130, ../sass/_media.scss */
  li.dropdown > a:after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  /* line 135, ../sass/_media.scss */
  div.info {
    float: right;
    position: relative;
    left: 0;
    width: 300px;
    overflow: hidden;
  }

  /* line 138, ../sass/_media.scss */
  .phone {
    float: left;
  }

  /* line 140, ../sass/_media.scss */
  .copy {
    display: none;
  }

  /* line 142, ../sass/_media.scss */
  div.mode__work:first-child {
    margin-right: 14px;
  }

  /* line 144, ../sass/_media.scss */
  .active {
    display: block;
  }

  /* line 149, ../sass/_media.scss */
  .dropdown:hover .submenu {
    display: none;
  }
  /* line 154, ../sass/_media.scss */
  .dropdown.active {
    background: #D04528;
  }
  /* line 156, ../sass/_media.scss */
  .dropdown.active > a {
    color: #fff;
  }
  /* line 159, ../sass/_media.scss */
  .dropdown.active > a:after {
    background-position: -7px 0;
  }

  /* line 167, ../sass/_media.scss */
  div .header-fixed {
    padding-top: 0;
  }

  /* line 171, ../sass/_media.scss */
  div.submenu {
    overflow: none;
    height: auto;
  }
}
@media (max-width: 660px) {
  /* line 180, ../sass/_media.scss */
  input.input-name, input.input-tel {
    max-width: 50%;
  }

  /* line 184, ../sass/_media.scss */
  div .features {
    margin-top: 40px;
  }

  /* line 185, ../sass/_media.scss */
  div .features,
  div .interest {
    float: none;
    width: 100%;
  }

  /* line 191, ../sass/_media.scss */
  div .section-title_h2 {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  /* line 196, ../sass/_media.scss */
  div.company-info {
    padding: 30px 15px 60px 15px;
  }

  /* line 200, ../sass/_media.scss */
  div.slider-news-wrap {
    padding-left: 15px;
  }

  /* line 202, ../sass/_media.scss */
  div.company-advants {
    text-align: center;
    margin-bottom: 20px;
  }

  /* line 207, ../sass/_media.scss */
  div.company-advants h3 {
    padding-left: 90px;
    margin: 0 20px 30px 20px;
  }

  /* line 212, ../sass/_media.scss */
  a.box-grig__cell {
    width: 100%;
  }

  /* line 215, ../sass/_media.scss */
  div.row {
    padding: 0 15px;
  }

  /* line 217, ../sass/_media.scss */
  div .bg-title {
    font-size: 60px;
  }

  /* line 219, ../sass/_media.scss */
  div .company-name {
    padding: 0;
  }
}
@media (max-width: 480px) {
  /* line 224, ../sass/_media.scss */
  input.input-name, input.input-tel {
    max-width: 100%;
  }

  /* line 228, ../sass/_media.scss */
  div.close {
    right: 0;
  }

  /* line 232, ../sass/_media.scss */
  span.form-title {
    font-size: 24px;
  }

  /* line 236, ../sass/_media.scss */
  h2.box-item__title {
    font-size: 50px;
  }

  /* line 241, ../sass/_media.scss */
  div.submenu .submenu-block {
    width: 100%;
  }

  /* line 244, ../sass/_media.scss */
  div.logo {
    float: none;
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    text-align: center;
  }
  /* line 250, ../sass/_media.scss */
  div.logo img {
    max-width: 140px;
  }

  /* line 254, ../sass/_media.scss */
  div.info {
    float: none;
    margin: 0 auto;
  }

  /* line 259, ../sass/_media.scss */
  div .top-banner__title {
    font-size: 72px;
  }

  /* line 261, ../sass/_media.scss */
  div .bg-title {
    font-size: 46px;
  }

  /* line 262, ../sass/_media.scss */
  div .bg-banner {
    min-height: 300px;
  }

  /* line 264, ../sass/_media.scss */
  table.table td {
    padding: 20px 10px 20px 10px;
  }

  /* line 268, ../sass/_media.scss */
  div .section-title_h2 {
    font-size: 24px;
  }

  /* line 270, ../sass/_media.scss */
  div .bg-slider__overlay {
    font-size: 14px;
  }

  /* line 272, ../sass/_media.scss */
  div .product-item__img {
    width: 170px;
    padding-top: 20px;
  }
}
@media (max-width: 320px) {
  /* line 277, ../sass/_media.scss */
  .phone {
    font-size: 20px;
    float: none;
  }

  /* line 279, ../sass/_media.scss */
  div.info {
    width: 100%;
  }

  /* line 282, ../sass/_media.scss */
  div.mode__work {
    display: block;
  }

  /* line 287, ../sass/_media.scss */
  ul.pagination-list li a {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }

  /* line 290, ../sass/_media.scss */
  div.select-price {
    float: none;
    margin: 0 auto 20px;
  }

  /* line 295, ../sass/_media.scss */
  div.pagers-icon {
    float: none;
    margin: 0 auto;
  }

  /* line 300, ../sass/_media.scss */
  div.list-local {
    width: 100%;
  }

  /* line 304, ../sass/_media.scss */
  div .bg-title {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  /* line 309, ../sass/_media.scss */
  .dropdown .submenu {
    display: none !important;
  }

  /* line 313, ../sass/_media.scss */
  .dropdown:hover .submenu {
    display: block !important;
  }

  /* line 318, ../sass/_media.scss */
  .dropdown > a:after {
    content: "";
    position: absolute;
    top: 16px;
    right: 30px;
    background: url("../img/arrows.png") 0 0 no-repeat;
    width: 5px;
    height: 9px;
  }

  /* line 328, ../sass/_media.scss */
  .fixedsticky {
    top: 0;
  }
}
/* line 6, ../sass/_main.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 11, ../sass/_main.scss */
* {
  box-sizing: border-box;
}

/* line 15, ../sass/_main.scss */
a {
  color: #fff;
}

/* line 18, ../sass/_main.scss */
a, a:hover {
  text-decoration: none;
}

/* line 21, ../sass/_main.scss */
a, tr {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 28, ../sass/_main.scss */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/* line 34, ../sass/_main.scss */
input[type="submit"],
button {
  cursor: pointer;
}

/* line 39, ../sass/_main.scss */
.hidden {
  opacity: 0;
}

/* line 42, ../sass/_main.scss */
.visible {
  opacity: 1;
}

/* line 4, ../sass/style.scss */
body {
  background: #ecf0f1;
  font-size: 16px;
  font-family: 'Oswald', Arial, sans-serif;
}

/* line 11, ../sass/style.scss */
.black-fade {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 24, ../sass/style.scss */
.fade-in {
  opacity: 1;
  visibility: visible;
}

/* line 29, ../sass/style.scss */
.form-wrap {
  position: fixed;
  display: none;
  top: 20%;
  max-width: 640px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  background: #fff;
  z-index: 1000;
  padding: 40px;
}
/* line 41, ../sass/style.scss */
.form-wrap.active {
  display: block;
}

/* line 44, ../sass/style.scss */
.icon-menu {
  width: 30px;
  position: absolute;
  top: 0;
  left: 10px;
  cursor: pointer;
  display: none;
  height: 20px;
  background: -webkit-linear-gradient(90deg, #000 0%, #000 20%, transparent 20%, transparent 40%, #000 40%, #000 60%, transparent 60%, transparent 80%, #000 80%, #000 100%);
  background: -moz-linear-gradient(to bottom, #000 0%, #000 20%, transparent 20%, transparent 40%, #000 40%, #000 60%, transparent 60%, transparent 80%, #000 80%, #000 100%);
  background: linear-gradient(to bottom, #000000 0%, #000000 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 40%, #000000 40%, #000000 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 80%, #000000 80%, #000000 100%);
}

/* line 56, ../sass/style.scss */
.close {
  width: 36px;
  color: #fff;
  font-size: 20px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 40px;
  background: #d04528 url("../img/close.png") 12px 12px no-repeat;
  cursor: pointer;
}

/* line 67, ../sass/style.scss */
.form-text {
  margin-bottom: 30px;
}

/* line 70, ../sass/style.scss */
.form-title {
  font-size: 32px;
  text-transform: uppercase;
  color: #6B1511;
  display: block;
  margin-bottom: 18px;
}

/* line 78, ../sass/style.scss */
.form-descr {
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
}

/* line 83, ../sass/style.scss */
.container {
  max-width: 1280px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  background: #ECEFF1;
}

/* line 93, ../sass/style.scss */
.header {
  width: 200px;
  padding: 0 0 10px 0;
  background: #fff;
  flex-shrink: 0;
  position: relative;
  z-index: 100;
}

/* line 102, ../sass/style.scss */
.header-fixed {
  padding-top: 38px;
}

/* line 105, ../sass/style.scss */
.content {
  flex-grow: 1;
  width: calc(100% - 200px);
}

/* line 110, ../sass/style.scss */
.global-button a {
  color: #fff;
  background: #d04528;
  text-transform: uppercase;
  padding: 10px 12px;
  display: inline-block;
}
/* line 117, ../sass/style.scss */
.global-button a:hover {
  color: #fff;
}

/* line 121, ../sass/style.scss */
.logo {
  margin: 0 0 60px 30px;
  width: 154px;
  height: 77px;
}

/* line 128, ../sass/style.scss */
nav {
  margin-bottom: 100px;
}
/* line 131, ../sass/style.scss */
nav .close {
  display: none;
  right: 0;
}

/* line 136, ../sass/style.scss */
.nav-menu {
  text-transform: uppercase;
  font: 15px 'Oswald', Arial, sans-serif;
  height: 200px;
  overflow: auto;
}
/* line 140, ../sass/style.scss */
.nav-menu > li > a {
  color: #263238;
  padding: 8px 0 8px 30px;
  display: block;
}
/* line 146, ../sass/style.scss */
.nav-menu > li > a:hover {
  background: #d04528;
  color: #fff;
}
/* line 152, ../sass/style.scss */
.nav-menu > li + li {
  border-top: 1px solid #CFD8DC;
}

/* line 157, ../sass/style.scss */
.dropdown {
  background: #fff;
}
/* line 159, ../sass/style.scss */
.dropdown > a {
  position: relative;
}
/* line 162, ../sass/style.scss */
.dropdown > a:hover:after {
  background-position: -7px 0;
}

/* line 170, ../sass/style.scss */
.dropdown > a:after {
  content: "";
  position: absolute;
  top: 16px;
  right: 30px;
  background: url("../img/arrows.png") 0 0 no-repeat;
  width: 5px;
  height: 9px;
}

/* line 181, ../sass/style.scss */
.submenu {
  background: #d04528;
  width: 506px;
  height: 100%;
  height: 100vh;
  overflow-x: auto;
  position: absolute;
  top: 0;
  left: 100%;
  color: #fff;
  padding: 40px 0 0 40px;
  z-index: 200;
  display: none;
}
/* line 195, ../sass/style.scss */
.submenu.active {
  display: block;
}
/* line 200, ../sass/style.scss */
.submenu li a {
  color: #fff;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  border: 1px solid #fff;
  margin-top: -1px;
}
/* line 208, ../sass/style.scss */
.submenu li a:hover {
  background: #6b1511;
}
/* line 211, ../sass/style.scss */
.submenu h3 {
  font-size: 36px;
  margin-bottom: 18px;
}

/* line 217, ../sass/style.scss */
.submenu-block {
  width: 50%;
  float: left;
}

/* line 221, ../sass/style.scss */
.submenu-block__item {
  width: 100%;
  margin-bottom: 30px;
}
/* line 225, ../sass/style.scss */
.submenu-block__item ul {
  min-height: 200px;
}

/* line 230, ../sass/style.scss */
.info {
  text-align: center;
  font-size: 14px;
}

/* line 235, ../sass/style.scss */
.contacts {
  margin-bottom: 14px;
}

/* line 239, ../sass/style.scss */
.phone {
  color: #d04528;
  font-size: 24px;
  display: inline-block;
  margin: 6px 0 10px 0;
}

/* line 246, ../sass/style.scss */
.phone_color {
  color: #6B1511;
}

/* line 250, ../sass/style.scss */
.callback a {
  padding: 12px 14px;
}
/* line 253, ../sass/style.scss */
.callback a:hover {
  background: #6B1511;
}

/* line 256, ../sass/style.scss */
.mode {
  text-transform: uppercase;
}

/* line 260, ../sass/style.scss */
.mode__work {
  margin-bottom: 10px;
  display: inline-block;
}

/* line 264, ../sass/style.scss */
.mode__text {
  display: inline-block;
  color: #546e7a;
  margin-right: 20px;
}

/* line 270, ../sass/style.scss */
.mode__clock, .mode__day {
  display: inline-block;
}

/* line 274, ../sass/style.scss */
.mode__day {
  color: #d04528;
}

/* line 278, ../sass/style.scss */
.address {
  width: 136px;
  margin: 18px auto;
  display: block;
  border: 1px solid #CFD8DC;
  color: #546e7a;
  text-transform: uppercase;
  padding: 18px 9px;
  line-height: 18px;
  position: relative;
  z-index: 3;
}
/* line 290, ../sass/style.scss */
.address:before {
  content: " ";
  position: absolute;
  top: -21px;
  left: 50%;
  z-index: 5;
  margin-left: -19px;
  width: 38px;
  height: 38px;
  background: #fff url("../img/map.png") 50% 12px no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 302, ../sass/style.scss */
.address:hover .address-link {
  z-index: 4;
  opacity: 1;
}

/* line 308, ../sass/style.scss */
.address-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #d04528;
  z-index: 2;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-color: #d04528;
  padding-top: 42px;
}

/* line 322, ../sass/style.scss */
.copy {
  color: #546e7a;
}

/* line 326, ../sass/style.scss */
.box-item {
  width: 50%;
  height: 498px;
  height: 50vh;
  max-height: 498px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  float: left;
  overflow: hidden;
}
/* line 336, ../sass/style.scss */
.box-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 339, ../sass/style.scss */
.box-item:hover img {
  transform: scale(1.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 342, ../sass/style.scss */
.box-item a:hover {
  background: #D04528;
}

/* line 345, ../sass/style.scss */
.box-item__title {
  font-size: 86px;
}

/* line 349, ../sass/style.scss */
.box-item__content {
  position: relative;
  text-align: center;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* line 358, ../sass/style.scss */
.box-item__list {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

/* line 365, ../sass/style.scss */
.box-item__links a {
  display: inline-block;
  padding: 10px;
  border: 1px solid #fff;
  margin-left: -5px;
  margin-top: -1px;
}

/* line 374, ../sass/style.scss */
.company {
  color: #fff;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #6B1511;
}
/* line 384, ../sass/style.scss */
.company p {
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  margin-bottom: 34px;
  max-width: 645px;
}

/* line 391, ../sass/style.scss */
.company-info {
  float: left;
  background: #6B1511 url("../img/bg-c.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: calc(100% - 270px);
  padding: 60px 20px 30px 78px;
}
/* line 398, ../sass/style.scss */
.company-info .global-button a:hover {
  background: #fff;
  color: #6B1511;
}

/* line 405, ../sass/style.scss */
.company-name {
  background: #ECEFF1;
  padding: 44px 0 36px 0;
  text-align: center;
  overflow: hidden;
}

/* line 412, ../sass/style.scss */
.company-logo {
  width: 13%;
  height: 68px;
  display: inline-block;
  line-height: 68px;
}
/* line 418, ../sass/style.scss */
.company-logo img {
  display: inline-block;
  vertical-align: middle;
}

/* line 424, ../sass/style.scss */
.company-advants {
  margin-bottom: 50px;
}
/* line 426, ../sass/style.scss */
.company-advants h3 {
  padding-left: 90px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}
/* line 434, ../sass/style.scss */
.company-advants h3:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/pluse.png") 0 0 no-repeat;
  width: 60px;
  height: 60px;
}
/* line 444, ../sass/style.scss */
.company-advants h3:nth-of-type(2):after {
  background-position: -56px 0;
}
/* line 448, ../sass/style.scss */
.company-advants h3:nth-of-type(3):after {
  background-position: -127px 0;
}
/* line 453, ../sass/style.scss */
.company-advants h3 + h3 {
  margin-left: 40px;
}

/* line 460, ../sass/style.scss */
.slider-news-wrap {
  float: right;
  width: 270px;
  background: #B23721;
  padding: 28px 0 30px 40px;
}
/* line 466, ../sass/style.scss */
.slider-news-wrap .global-button a {
  border: 1px solid #fff;
  background: inherit;
}
/* line 470, ../sass/style.scss */
.slider-news-wrap .global-button a:hover {
  background: #fff;
  color: #6B1511;
}
/* line 476, ../sass/style.scss */
.slider-news-wrap .slick-prev {
  left: 112px;
}
/* line 480, ../sass/style.scss */
.slider-news-wrap .slick-next {
  left: 149px;
}

/* line 490, ../sass/style.scss */
.slider-news-wrap .slick-prev, .slider-news-wrap .slick-next,
.bg-slider-wrap .slick-prev,
.bg-slider-wrap .slick-next {
  top: 100%;
  width: 38px;
  height: 38px;
  border: 1px solid #fff;
  opacity: 0.5;
  transform: none;
  z-index: 100;
}
/* line 499, ../sass/style.scss */
.slider-news-wrap .slick-prev:hover, .slider-news-wrap .slick-next:hover,
.bg-slider-wrap .slick-prev:hover,
.bg-slider-wrap .slick-next:hover {
  opacity: 1;
}
/* line 502, ../sass/style.scss */
.slider-news-wrap .slick-prev:before, .slider-news-wrap .slick-next:before,
.bg-slider-wrap .slick-prev:before,
.bg-slider-wrap .slick-next:before {
  font-family: none;
}
/* line 504, ../sass/style.scss */
.slider-news-wrap .slick-prev:before,
.slider-news-wrap .slick-next:before,
.bg-slider-wrap .slick-prev:before,
.bg-slider-wrap .slick-next:before {
  content: " ";
  background: url("../img/arrow.png") no-repeat;
  width: 9px;
  height: 15px;
  position: absolute;
  top: 10px;
  left: 14px;
}
/* line 515, ../sass/style.scss */
.slider-news-wrap .slick-next:before,
.bg-slider-wrap .slick-next:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 522, ../sass/style.scss */
.slider-news {
  width: 100%;
}

/* line 526, ../sass/style.scss */
.slider-news__item {
  width: 190px;
  position: relative;
  margin-right: 20px;
}
/* line 531, ../sass/style.scss */
.slider-news__item:last-child {
  margin-right: 0;
}
/* line 535, ../sass/style.scss */
.slider-news__item:after {
  content: " ";
  position: absolute;
  bottom: 16px;
  left: 0;
  background: url("../img/shadow.png") 0 0 repeat-x;
  width: 100%;
  height: 80px;
  z-index: 10;
}

/* line 547, ../sass/style.scss */
.slider-news__date {
  font-size: 12px;
}

/* line 550, ../sass/style.scss */
.slider-news__link {
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px 0 28px 0;
  display: inline-block;
}
/* line 556, ../sass/style.scss */
.slider-news__link:hover {
  text-decoration: underline;
}

/* line 561, ../sass/style.scss */
.slider-news__text {
  font-size: 16px;
  position: relative;
}

/* line 566, ../sass/style.scss */
.input-name {
  max-width: 294px;
  width: 100%;
  border: 1px solid #d8d8dc;
  padding: 10px;
  float: left;
  height: 36px;
  margin-bottom: 14px;
}

/* line 576, ../sass/style.scss */
.input-tel {
  max-width: 172px;
  width: 100%;
  float: left;
  border: 1px solid #d8d8dc;
  padding: 10px;
  height: 36px;
  margin-bottom: 14px;
}

/* line 586, ../sass/style.scss */
.input-submit {
  background: #d04528;
  text-transform: uppercase;
  color: #fff;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  float: left;
}

/* line 599, ../sass/style.scss */
.row {
  padding: 0 38px;
}

/* line 601, ../sass/style.scss */
.top-banner {
  background: #BB572C url("../img/bg/bg-brick.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 156px;
  padding-top: 12px;
  color: #fff;
  text-transform: uppercase;
}
/* line 609, ../sass/style.scss */
.top-banner .box-item__list {
  margin: 10px 0 20px 0;
  width: auto;
  text-align: left;
  float: left;
}
/* line 617, ../sass/style.scss */
.top-banner .box-item__links a:hover,
.top-banner .box-item__links a.active {
  background: #fff;
  color: #6B1511;
}

/* line 625, ../sass/style.scss */
.bread-crumbs {
  color: #fff;
  text-transform: uppercase;
}
/* line 629, ../sass/style.scss */
.bread-crumbs a:hover {
  text-decoration: underline;
}

/* line 632, ../sass/style.scss */
.top-banner__info {
  margin-top: 6px;
}

/* line 636, ../sass/style.scss */
.top-banner__title {
  font-size: 86px;
  display: inline-block;
  float: left;
  margin: 0 36px 20px -3px;
  color: #fff;
  text-transform: uppercase;
}

/* line 645, ../sass/style.scss */
.sorting-select {
  background: #6B1511;
  padding-top: 14px;
  color: #fff;
}

/* line 651, ../sass/style.scss */
.select-item {
  float: left;
  margin-right: 9px;
  margin-bottom: 16px;
}
/* line 656, ../sass/style.scss */
.select-item:last-child {
  margin-right: 0;
}

/* line 659, ../sass/style.scss */
.select-item__label {
  font: 14px 'Roboto', sans-serif;
  margin-bottom: 10px;
}

/* line 664, ../sass/style.scss */
.select-item_size {
  width: 190px;
}

/* line 668, ../sass/style.scss */
.select-item_empt {
  width: 214px;
}

/* line 672, ../sass/style.scss */
.select-item_mark {
  width: 104px;
}

/* line 676, ../sass/style.scss */
.select-item_train {
  width: 226px;
}

/* line 680, ../sass/style.scss */
.select-item_manuf {
  width: 226px;
}

/* line 684, ../sass/style.scss */
.box-grid {
  margin: 38px 0;
}
/* line 687, ../sass/style.scss */
.box-grid .row {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* line 697, ../sass/style.scss */
.box-grid__item {
  width: 194px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 28px;
}
/* line 703, ../sass/style.scss */
.box-grid__item p {
  font: 16px 'Roboto', sans-serif;
  color: #2c3e50;
  margin-bottom: 18px;
  height: 60px;
}

/* line 711, ../sass/style.scss */
.box-grig__cell {
  width: 25%;
  float: left;
  border: 1px solid #CFD8DC;
  background: #fff;
}
/* line 717, ../sass/style.scss */
.box-grig__cell:hover {
  border: 1px solid #d04528;
}

/* line 722, ../sass/style.scss */
.box-grid__img {
  margin-bottom: 25px;
  height: 174px;
  position: relative;
  overflow: hidden;
}
/* line 728, ../sass/style.scss */
.box-grid__img img {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 736, ../sass/style.scss */
.price {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

/* line 742, ../sass/style.scss */
.prise_signs {
  position: relative;
}
/* line 745, ../sass/style.scss */
.prise_signs:after {
  content: " ";
  position: absolute;
  top: 22px;
  left: -1px;
  width: 14px;
  border-bottom: 1px solid #000;
  display: inline-block;
}

/* line 756, ../sass/style.scss */
.list-local {
  float: right;
  width: 288px;
}

/* line 761, ../sass/style.scss */
.pagination {
  float: left;
  text-align: center;
}

/* line 766, ../sass/style.scss */
.pagination-list {
  display: inline-block;
}
/* line 768, ../sass/style.scss */
.pagination-list li {
  display: inline-block;
  vertical-align: top;
}
/* line 772, ../sass/style.scss */
.pagination-list li a {
  width: 36px;
  height: 36px;
  border: 1px solid #7f8c8d;
  color: #000;
  display: block;
  padding-top: 9px;
}
/* line 781, ../sass/style.scss */
.pagination-list li a.active {
  background: #7f8c8d;
  color: #fff;
}
/* line 786, ../sass/style.scss */
.pagination-list li a:hover {
  background: #d04528;
  color: #fff;
  border-color: #d04528;
}

/* line 794, ../sass/style.scss */
li a.pagination__next,
li a.pagination__prev {
  position: relative;
}
/* line 798, ../sass/style.scss */
li a.pagination__next:after,
li a.pagination__prev:after {
  content: " ";
  position: absolute;
  width: 9px;
  height: 18px;
  top: 10px;
  left: 14px;
  background: url("../img/arrow-pag.png") no-repeat;
}
/* line 807, ../sass/style.scss */
li a.pagination__next.active,
li a.pagination__prev.active {
  background: none;
}
/* line 810, ../sass/style.scss */
li a.pagination__next:hover,
li a.pagination__prev:hover {
  background: #d04528;
  border-color: #d04528;
}
/* line 813, ../sass/style.scss */
li a.pagination__next:hover:after,
li a.pagination__prev:hover:after {
  background: url("../img/arrow-pag-w.png") no-repeat;
}

/* line 817, ../sass/style.scss */
li a.pagination__prev:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 10px;
  top: 7px;
}

/* line 823, ../sass/style.scss */
.select-price {
  width: 204px;
  float: left;
}
/* line 826, ../sass/style.scss */
.select-price .selectric-hover .selectric {
  background: #d04528;
  color: #000;
}
/* line 829, ../sass/style.scss */
.select-price .selectric-hover .selectric .label {
  color: #fff;
}
/* line 831, ../sass/style.scss */
.select-price .selectric-hover .selectric .button:after {
  background-position: -15px 0;
}
/* line 836, ../sass/style.scss */
.select-price .selectric {
  border: 1px solid #7F8C8D;
}
/* line 839, ../sass/style.scss */
.select-price .selectric .label {
  color: #2c3e50;
}
/* line 843, ../sass/style.scss */
.select-price .selectric .button:after {
  background-position: 0 0;
}

/* line 851, ../sass/style.scss */
.pagers-icon {
  width: 72px;
  float: right;
  overflow: hidden;
}

/* line 857, ../sass/style.scss */
.pager-item {
  width: 36px;
  height: 36px;
  border: 1px solid #7f8c8d;
  float: left;
  cursor: pointer;
  position: relative;
}
/* line 865, ../sass/style.scss */
.pager-item:before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 26px;
  height: 27px;
  background: url("../img/pager-icon.png") 0 0 no-repeat;
}
/* line 875, ../sass/style.scss */
.pager-item:hover {
  background: #d04528;
  border-color: #d04528;
}
/* line 879, ../sass/style.scss */
.pager-item.active {
  background: #7f8c8d;
}

/* line 885, ../sass/style.scss */
.pager-item_cell:hover,
.pager-item_list:hover {
  background: #d04528;
  border-color: #d04528;
}

/* line 892, ../sass/style.scss */
.pager-item_list:hover:before,
.pager-item_list.active:before {
  background-position: -27px 0;
}

/* line 897, ../sass/style.scss */
.pager-item_cell:before {
  background-position: -54px 0;
  top: 4px;
  left: 4px;
}

/* line 904, ../sass/style.scss */
.content-bottom {
  margin-bottom: 40px;
}

/* line 910, ../sass/style.scss */
.banner {
  padding-top: 12px;
}

/* line 914, ../sass/style.scss */
.bg-banner {
  min-height: 500px;
  margin-bottom: 60px;
  width: 100%;
}

/* line 920, ../sass/style.scss */
.bg-banner__red {
  background: url("../img/bg/brick-wall.jpg") 50% 50% no-repeat;
}

/* line 924, ../sass/style.scss */
.bg-banner__title {
  text-align: center;
  position: relative;
  top: 134px;
}

/* line 931, ../sass/style.scss */
.bg-title {
  font-size: 86px;
  color: #fff;
  text-transform: uppercase;
}

/* line 937, ../sass/style.scss */
.row-8w {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

/* line 943, ../sass/style.scss */
.main-text {
  color: #2C3E50;
  font: 16px 'Roboto', sans-serif;
  line-height: 24px;
}

/* line 950, ../sass/style.scss */
.lead-in .main-text:first-child {
  margin-bottom: 34px;
}

/* line 956, ../sass/style.scss */
.bg-slider-wrap {
  max-width: 954px;
  width: 100%;
  margin: 60px auto;
  position: relative;
}
/* line 963, ../sass/style.scss */
.bg-slider-wrap .slide img {
  width: 100%;
  margin: 0 auto;
}
/* line 966, ../sass/style.scss */
.bg-slider-wrap .slick-prev, .bg-slider-wrap .slick-next {
  top: calc(100% - 36px);
}
/* line 968, ../sass/style.scss */
.bg-slider-wrap .slick-prev {
  left: calc(100% - 75px);
}
/* line 972, ../sass/style.scss */
.bg-slider-wrap .slick-next {
  right: 0;
}
/* line 975, ../sass/style.scss */
.bg-slider-wrap .slick-prev:before, .bg-slider-wrap .slick-next:before {
  font-family: none;
}

/* line 978, ../sass/style.scss */
.bg-slider__overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  color: #fff;
  border-top: 1px solid #fff;
  font: italic 16px 'Roboto', sans-serif;
  padding: 8px 0 0 12px;
}

/* line 992, ../sass/style.scss */
.section {
  margin-top: 58px;
}

/* line 996, ../sass/style.scss */
.section-title {
  text-transform: uppercase;
  color: #6B1511;
}

/* line 1000, ../sass/style.scss */
.section-title_h2 {
  font-size: 32px;
  margin-bottom: 36px;
}

/* line 1005, ../sass/style.scss */
.main-text_link {
  color: #d04528;
  text-decoration: underline;
}
/* line 1009, ../sass/style.scss */
.main-text_link:hover {
  color: #d04528;
  text-decoration: underline;
}

/* line 1014, ../sass/style.scss */
.products-wrap {
  margin-top: 58px;
}
/* line 1016, ../sass/style.scss */
.products-wrap .global-button {
  margin-top: 3px;
}
/* line 1019, ../sass/style.scss */
.products-wrap .global-button a:hover {
  background: #6B1511;
}

/* line 1025, ../sass/style.scss */
.product-item {
  background: #fff;
  border-bottom: 1px solid #ECEFF1;
  width: 100%;
  min-height: 120px;
  padding: 0 40px 0 14px;
  overflow: hidden;
}
/* line 1033, ../sass/style.scss */
.product-item .price {
  float: right;
  margin: 46px 0 20px 0;
}

/* line 1040, ../sass/style.scss */
.product-item__img {
  width: 122px;
  height: 122px;
  line-height: 122px;
  float: left;
  margin-right: 58px;
}
/* line 1047, ../sass/style.scss */
.product-item__img img {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}

/* line 1054, ../sass/style.scss */
.product-text {
  max-width: 296px;
  float: left;
  width: 100%;
  margin-top: 38px;
}

/* line 1063, ../sass/style.scss */
.about-quality {
  margin-bottom: 80px;
}

/* line 1067, ../sass/style.scss */
.interest {
  float: left;
  width: 48%;
}
/* line 1072, ../sass/style.scss */
.interest .about-list li + li {
  margin-top: 25px;
}
/* line 1075, ../sass/style.scss */
.interest .about-list_style {
  position: absolute;
  top: 4px;
  left: 0;
  width: 36px;
  height: 36px;
  color: #d04528;
  border: 1px solid #d04528;
  text-align: center;
  padding-top: 8px;
}

/* line 1088, ../sass/style.scss */
.features {
  float: right;
  width: 48%;
}
/* line 1094, ../sass/style.scss */
.features .about-list li:before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 26px;
  background: #d04528;
  width: 12px;
  height: 6px;
}
/* line 1105, ../sass/style.scss */
.features .about-list li + li {
  margin-top: 34px;
}

/* line 1109, ../sass/style.scss */
.section-title_h3 {
  font-size: 24px;
  margin-bottom: 26px;
}

/* line 1114, ../sass/style.scss */
.about-list {
  margin-top: 34px;
}
/* line 1116, ../sass/style.scss */
.about-list li {
  padding-left: 56px;
  position: relative;
}

/* line 1124, ../sass/style.scss */
.table {
  width: 100%;
  margin-bottom: 38px;
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 1130, ../sass/style.scss */
.table tr {
  border-bottom: 1px solid #BDC3C7;
}
/* line 1134, ../sass/style.scss */
.table tr:not(:first-child):hover {
  background: rgba(127, 140, 141, 0.18);
}
/* line 1139, ../sass/style.scss */
.table td {
  padding: 20px 40px 20px 20px;
}
/* line 1141, ../sass/style.scss */
.table td:last-child {
  text-align: right;
  width: 200px;
}
/* line 1143, ../sass/style.scss */
.table tr:first-child {
  font-family: 'Roboto', sans-serif;
  color: #d04528;
  border-color: #d04528;
}

/* line 1151, ../sass/style.scss */
.main-text_italic {
  color: #7f8c8d;
  font-style: italic;
}
