
@font-face {
  font-family: 'Georgia-Bold';
  src: url('Georgia-Bold.eot?#iefix') format('embedded-opentype'),  url('Georgia-Bold.woff') format('woff'), url('Georgia-Bold.ttf')  format('truetype'), url('Georgia-Bold.svg#Georgia-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
